
.sponsors {
  text-align: center;
  padding: 2rem;
  background-color: #e5e5e5;
}

.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.sponsor {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.sponsor h4 {
  font-weight: bold;
}